spring:
    datasource:
#        url: jdbc:h2:mem:airline-ticket-manager-db # --> In memory DataStore
#        url: jdbc:h2:file:./airline-ticket-manager-db;AUTO_SERVER=TRUE # --> Use a persistent local file DataStore
#        username: sa
#        password: password
#        driverClassName: org.h2.Driver
#    h2:
#        console:
#            enabled: true
#            path: /db-console
#            settings:
#                trace: false
#                web-allow-others: false
        url: jdbc:mysql://localhost:3306/airline_ticket_manager
        username: airline_manager_user
        password: 1234
        driverClassName: com.mysql.cj.jdbc.Driver
    jpa:
        database-platform: org.hibernate.dialect.MySQL8Dialect
        hibernate:
            ddl-auto: create-drop
        show-sql: false

API_PATH: /api
management.endpoints.web.base-path: /manage
server.error.include-stacktrace: never
